<section id="instagram">
    <div id="instagram__text--container">
        <p>INSTAGRAM</p>
        <h1>FOLLOW US <br />
            <span class="h1__filled"><a href="https://www.instagram.com/catchingtheo/" target="blank">@CATCHINGTHEO</a></span>
        </h1>
    </div>

    <div id="instagram__feed">
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-1.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>#catchingtheo</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-2.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>#catchingtheo</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-3.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>#catchingtheo</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-4.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>#catchingtheo</p>
            </div>
        </div>
    </div> 
</section>