<section id="instagram">
    <div id="instagram__text--container">
        <p>INSTAGRAM</p>
        <h1>FOLLOW US <br />
            <span class="h1__filled"><a href="https://www.instagram.com/catchingtheo/" target="blank">@CATCHINGTHEO</a></span>
        </h1>
    </div>

    <div id="instagram__feed">
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-5.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p><a target="blank" href="https://www.tiktok.com/@dalia/video/6893144546796981505?lang=en">@dalia</a></p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-6.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p><a target="blank" href="https://www.instagram.com/p/CHVhn1MF2yB/">@kayla_shyx</a></p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-7.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p><a target="blank" href="https://www.tiktok.com/@nickaufmann/video/6893142085361208578?lang=en">@nickkaufmann</a></p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'theo-insta-8.jpg' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p><a target="blank" href="https://www.instagram.com/p/CHLSlEkDZYc/">@theocarow</a></p>
            </div>
        </div>
    </div> 
</section>

