<section id="instagram">
    <div id="instagram__text--container">
        <p>INSTAGRAM</p>
        <h1>FOLLOW US <br />
            <span class="h1__filled">@CATCHINGTHEO</span>
        </h1>
    </div>

    <div id="instagram__feed">
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'insta-post.png' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>@Username</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'insta-post.png' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>@Username</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'insta-post.png' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>@Username</p>
            </div>
        </div>
        <div class="instagram__post">
            <div class="instagram__image">
                {{ 'insta-post.png' | asset_url | img_tag: 'Logo' }}
            </div>
            <div class="instagramm__handle">
                <p>@Username</p>
            </div>
        </div>
    </div> 
</section>