<section id="intro__small">


        <h1>HEY! DID YOU KNOW?
            WE ARE <span class="h1__filled">SUSTAINABLE</span></h1>
        <p>
            Our products bring together the finest materials and stunning design to create something unique and very
            special. Colorful, creative, and inspired by what we see everyday.
        </p>

        <button class="cta">Read more</button>


</section>
 