<section id="intro">
    <div id="intro__head--container">
        {{ 'theo_kopf_1.png' | asset_url | img_tag: 'Logo' }}
    </div>
    <div id="intro__text--container">
        <h1>HEY! DID YOU KNOW?
            WE ARE <span class="h1__filled">SUSTAINABLE</span></h1>
        <p>
            Our products bring together the finest materials and stunning design to create something unique and very
            special. Colorful, creative, and inspired by what we see everyday.
        </p>


        <div id="intro__button"></div>
        <button class="intro__button--button">Read more</button>
    </div>
    </div>





</section>
 