<section id="intro">
    <div id="intro__head--container">
        {{ 'theo-wow.png' | asset_url | img_tag: 'Logo' }}
    </div>
    <div id="intro__text--container">
        <h1>HEY! DID YOU KNOW CEO OF COZINESS IS <span class="h1__filled">SUSTAINABLE</span>?</h1>
        <p>
            Mir war es super wichtig eine Kollektion für Euch zu machen, die 100% sustainable, vegan und GOTS-zertifiziert ist. But also: jedes Item ist 100% cozy. Egal ob zum Partnerlook TikToks machen, zum Netflix gucken, oder als easy fit für draußen, tag mich unter <a href="https://www.instagram.com/catchingtheo">@catchingtheo</a> damit ich Deine Looks sehen kann!
        </p>

        <a href="https://www.catchingtheo.com/pages/nachhaltigkeit" ><button class="intro__button--button">Mehr lesen</button></a>
    </div>
    </div>





</section>
