<div class="ticker-wrap">
    <div class="ticker">
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div> 
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
        <div class="ticker__item">COMING SOON</div>
       
    </div>
   </div>