<div class="product__page__form__quantity--field">
    <input type="hidden" class="quantity__field" id="Quantity" name="quantity" value="1" min="1" max="5">
    <button class="quantitiy__button--minus js-button-quantity" type="button">&ndash;</button>
    <span class="quantitiy__button--text">1</span>
    <button class="quantitiy__button--plus js-button-quantity" type="button">+</button>
  </div>