<section id="liveticker__purple">
    <p>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>
        <span>ERSTE KOLLEKTION</span>

    </p>
</section>