<section id="liveticker__purple">
    <p>
        <span>TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
        <span>  TIKTOK  </span>
        <span>  INSTAGRAM  </span>
    </p>
</section> 