<section id="liveticker__red">
    <p>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        
        <!-- <span>JETZT VORBESTELLEN</span>
        <span>ERSTE KOLLEKTION</span>
        <span>JETZT VORBESTELLEN</span>
        <span>ERSTE KOLLEKTION</span>
        <span>JETZT VORBESTELLEN</span> -->
    </p>
</section> 