<section id="liveticker__purple">
    <p>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
        <span>ERSTE KOLLEKTION: CEO OF COZINESS</span>
    </p>
</section> 