<section id="liveticker__purple">
    <p>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
        <span><a href="https://www.tiktok.com/@theocarow" target="blank">Tik Tok</a></span>
        <span><a href="https://www.instagram.com/catchingtheo/" target="blank">Instagram</a> </span>
    </p>
</section> 