<section id="liveticker__red">

    <p>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
        <span>GRATIS LIEFERUNG AB 100€</span>
    </p>
</section> 