<!-- /templates/customers/reset_password.liquid -->
<div class="login__register">
    <div class="login__register--image">
        {{ 'mood-about.png' | asset_url | img_tag: 'Logo' }}
    </div>
    
        <div class="login__register--form">
            <div>
            <h1><span>Passwort vergessen</span></h1>
            {% form 'recover_customer_password' %} {{ form.errors | default_errors
            }}
            
            <label for="customer_email">Email Address</label>
            <input type="email" name="email" />
            
            <input type="submit" value="Submit" />
            
            {% endform %} 
    
            </div>

        </div>
    </div>
    
    {% include 'tickerPurple' %}
    {% include 'instagram' %}