<!-- /templates/customers/reset_password.liquid -->
<div class="login__register">
    <div class="login__register--image">
        {{ 'mood-about.png' | asset_url | img_tag: 'Logo' }}
    </div>
    
        <div class="login__register--form">
            <div>
            <h1><span>Passwort vergessen</span></h1>
            {% form 'reset_customer_password' %} {{ form.errors | default_errors
            }}
            
            <label for="password">Passwort</label>
            <input type="password" value="" name="customer[password]" size="16" />
            
            <label for="password_confirmation">Passwort zurücksetzen</label>
            <input
              type="password"
              value=""
              name="customer[password_confirmation]"
              size="16"
            />
            
            <input class="cta" type="submit" value="Passwort Zurücksetzen" />
            
            {% endform %} 
            </div>

        </div>

    </div>
    