{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div class="password-content">
  <div class="password-image" id="lottie">
</div>
<div class="counter" id="demo"></div>
</div>

 