<div id="myModal" class="modal">
    <div class="modal-content">
      <p class="close">x</p>
      <p><strong>INFORMATIONEN ÜBER DAS UNTERNEHMEN</strong></p>
        <p> 
          Gesellschaft mit beschränkter Haftung (GmbH)<br>
C/O Brokkoli Mariahilferstr Straße 88A/3/11<br>
Wien, 1070<br>
daniel@sesamyrose.com<br>
+447522108408
        </p>
        <p>
          <strong>INFORMATIONEN ÜBER DIE UNTERNEHMENSREGISTRIERUNG</strong>>
        </p>
        <p>
          ATU75838435<br>
          538213a<br>
          Handelsgericht Wien<br>
        </p>
        <p>
          Informationen zur Online-Streitbeilegung: Die EU-Kommission hat eine
          Internetplattform zur Online-Beilegung von Streitigkeiten (sog. „OSPlattform“)
          geschaffen. Die OS-Plattform dient als Anlaufstelle zur
          außergerichtlichen Beilegung von Streitigkeiten betreffend vertragliche
          Verpflichtungen, die aus Online-Kaufverträgen erwachsen. Sie können
          die OS-Plattform unter dem folgenden Link erreichen:
          http://ec.euopa.eu/consumers/odr „Hinweis gemäß § 36
          Verbraucherstreitbeilegungsgesetz (VSBG).
        </p>
        <p>
          Powered by Shopify<br>
WWW.SHOPIFY.COM
        </p>
      </div>
  </div>
  </div>