<div class="cart__page" >
  
  <h1><span class="h1__filled">Warenkorb</span></h1>
  <div class="cart__page--content" data-cart-item-count="{{ cart.item_count }}">
    {% include 'cartContents' %}
  </div>
  
</div> 