{% layout 'password' %}

<div id="password-section-container">
    {% section 'password-header' %}
    {% section 'password-content' %}
    {% section 'password-footer' %}
</div>
{% section 'password-impressum' %} 